.h004{
    background:rgb(13, 13, 145);
    animation-name: efectosMovimientos;
    animation-direction: alternate;
    animation-duration:5s ;

}
@keyframes efectosMovimientos {

    from{
       
        opacity: 0%;
    } 
    to{
       
        opacity: 100%;
    }

}