body{
    background:blue;
    animation-name: efectosMovimientos;
    animation-direction: alternate;
    animation-duration:5s ;

}
@keyframes efectosMovimientos {

    from{
        background: rgb(3, 3, 72);
        opacity: 0%;
    } 
    to{
        background: rgb(0, 0, 122);
        opacity: 100%;
    }

}