body{
    background-image: url(/img/Chat.png);
    background-repeat: no-repeat;
    margin: auto;
    justify-content: center ;
   
    
}

.h004{
    display: block;
    
    float: center;
    justify-content: center;
    align-items: center;
    margin: 180px auto;
    height: 200px;
    width: 450px;
}


.foto{
    background: rgb(16, 33, 155);
    height: 150px;
    width: 150px;
    float: right;
    margin: 10px;
    border-radius: 50%;
}

h1, h3 , button{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}


.btn002{
    border-radius: 10%;
    background: rgb(10, 79, 111);
    margin: 20px;

}

